[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "sh -c 'uvicorn worker.main:app --host 0.0.0.0 --port ${PORT:-8080}'"

